<footer class="footer-section bg-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>About Flutura Certifications</h3>
        <p>
          The main function of Flutura Certifications is to evaluate the skills of the freshers and to make existing employees learn more skills regardless of the day to day in work.
        </p>
      </div>

      <div class="col-md-3 ml-auto">
        <h3>Links</h3>
        <ul class="list-unstyled footer-links">
          <li><a href="https://www.flutura.com/" target="_blank">Flutura Home</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h3>Subscribe</h3>
        <p>Subscribe to our news letter and to know about latest updates</p>
        <form action="#" class="footer-subscribe">
          <div class="d-flex mb-5">
            <input type="text" class="form-control rounded-0" placeholder="Email">
            <input type="submit" class="btn btn-primary rounded-0" value="Subscribe">
          </div>
        </form>
      </div>

    </div>

    <div class="row pt-5 mt-5 text-center">
      <div class="col-md-12">
        <div class="border-top pt-5">
        <p>
          Copyright &copy; <span>{{currentYear}}</span> rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a class="link-text" href="https://ershrey.wordpress.com/" target="_blank" >Shrey</a>
        </p>
        </div>
      </div>
    </div>
  </div>
</footer>